body {
    background-color: #f5f5dc;
}

.img-perfil {
    max-width: 500px;      
    width: 100%;          
    height: auto;         
    object-fit: contain;   
}
.a{
    text-decoration: none;
}

.a-no-decoration {
    text-decoration: none;
    color: #000;
}

.a-no-decoration:hover {
    color: #737a7c;
}


.card {
    background-color: #f5f5dc; 
    border: 1px solid #d3d3d3; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
