.custom-input{
    max-width: 800px;
    width: 100%;
    background-color: #add8e6;

}

.btn{
    background-color: #add8e6;
}

.btn:hover{
    background-color: #737a7c;
}

.container-fluid{
    background-color: #f5f5dc;
}