<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-user-corect</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <script>
        Swal.fire({
            title: 'Error',
            text: 'your email or password not valided',
            icon: 'error',
            confirmButtonText: 'ups'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/';
            }
        })

    </script>

</body>

</html>